:root{

--bg:#f4f6f9;
--card:white;
--text:#111827;
--sidebar:#111827;

--hover:#eef2f7;
--cardHover:#f8fafc;

--border:#e5e7eb;

}

.dark{

--bg:#0b1220;
--card:#172036;
--text:#e6edf7;
--sidebar:#020617;

--hover:#1e293b;
--cardHover:#243047;

--border:#2a3446;

}

body{

margin:0;

font-family:Arial;

background:var(--bg);

color:var(--text);

}

/* LOGIN */

.login-body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#1e3a8a,#0f172a);

}

.login-container{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(20px);

padding:40px;

border-radius:15px;

width:320px;

text-align:center;

color:white;

}

.login-container input{

width:100%;

padding:12px;

margin:10px 0;

border:none;

border-radius:8px;

}

.password-box{

position:relative;

}

.password-box i{

position:absolute;

right:10px;

top:14px;

cursor:pointer;

width:18px;

}

.login-container button{

width:100%;

padding:12px;

background:#2563eb;

border:none;

color:white;

border-radius:8px;

cursor:pointer;

}

#error{

color:#f87171;

}

/* DASHBOARD */

.container{

display:flex;

height:100vh;

}

.sidebar{

width:260px;

background:var(--sidebar);

color:white;

padding:20px;

}

.logo{

text-align:center;

margin-bottom:30px;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

display:flex;

gap:10px;

padding:12px;

border-radius:8px;

cursor:pointer;

}

.sidebar li:hover{

background:#374151;

}

.active{

background:#2563eb;

}

.main{

flex:1;

padding:30px;

}

.stats{

display:flex;

gap:20px;

}

.card{

background:var(--card);

padding:20px;

border-radius:10px;

width:200px;

}

.chart-container{

background:var(--card);

padding:20px;

margin-top:20px;

border-radius:10px;

width:750px;

}

.top-content{

background:var(--card);

padding:20px;

margin-top:20px;

border-radius:10px;

width:750px;

}

table{

width:100%;

border-collapse:collapse;

}

td,th{

padding:10px;

border-bottom:1px solid var(--border);

}

.post-grid{

display:flex;

gap:15px;

margin-top:15px;

}

.post-card{

background:var(--cardHover);

padding:15px;

border-radius:8px;

width:180px;

}

.hidden{

display:none;

}

#logout{
margin-left:20px;

padding:8px 15px;

background:#ef4444;

border:none;

color:white;

border-radius:6px;

cursor:pointer;

}

#themeToggle{

padding:8px 15px;

background:#2563eb;

border:none;

color:white;

border-radius:6px;

cursor:pointer;

}